.card__teg {
  background-color:#FFFFFF;
  border-radius: 10px;
  margin: 0;
  padding: 8px 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  color: #000000;
}