@import url('__circle/preloader__circle.css');
@import url('__message/preloader__message.css');
@import url('__loading/preloader__loading.css');
@import url('__nothing/preloader__nothing.css');
@import url('__sad-smail/preloader__sad-smail.css');
@import url('__title/preloader__title.css');
@import url('__text/preloader__text.css');

.preloader {
  width: 100%;
  font-family: Roboto, "Arial", sans-serif;
  background-color: #F5F6F7;
}