@import url(./__subtitle/search__subtitle.css);
@import url(./__title/search__title.css);
@import url(./__form/search__form.css);
@import url(./__button/search__button.css);
@import url(./__content/search__content.css);
@import url(./__input-text/search__input-text.css);


.search {
  font-family: Roboto, "Arial", sans-serif;
  background-image: url('../../images/search/georgia-de-lotz--UsJoNxLaNo-unsplash.png');
  background-repeat: repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

