.search__subtitle {
  font-family: Roboto, "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  width: 545px;

  margin-top: 32px;
}


@media screen and (max-width: 768px) {
  .search__subtitle  {
    width: 452px;
  }
 }
