.about__content {
  margin-left: 56px;
  max-width: 600px;
}

@media screen and (max-width: 1024px) {
  .about__content {
    margin-left: 32px;
    max-width: 424px;
  }
}

@media screen and (max-width: 760px) {
  .about__content {
    margin-left: 0;
    margin-top: 24px;
  }
}

@media screen and (max-width: 450px) {
  .about__content {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
}